.cwContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-normal);
    width: fit-content;
    transition: transform .2s;
}

.cwContainer:hover {
    transform: scale(1.03); 
  }

    .cwImgContainer{
        width: 100%;
        padding-top: 68%; /* H:W Aspect Ratio */
        position: relative; /* If you want text inside of it */
        background-color: inherit;

    }

        .cwImage{
            object-fit: cover;
            position: absolute;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: inherit;
        }

    .cwContent{
   
        
    }


        .cwAlbumInfo{
            margin-bottom: 0.8653rem;
            background-color: inherit;
           
            
        }

            .cwAlbumName{
                display: inline;
                background-color: inherit;
                text-transform: uppercase;
                font-weight: 700;
                
            }

            .cwAlbumYear{
                display: inline;
                background-color: inherit;
                font-weight: 700;
                
               
            }
        
        .cwLinkCont{

        }


/* Clamps */
.width_493_216 {

    --sMin: 216; /* smallest width size in pixels */
    --sMax: 493; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      width: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));

     /* calc max-width for a given height */
      --bHeight: 1117;
      --sHeight: 600;
      --heightDiff: calc(var(--bHeight) - var(--sHeight));

      --wForMaxH: var(--sMax);
      --wForMinH: 216;

      --wDiff: calc((var(--wForMaxH) * var(--sFactor)) - (var(--wForMinH) * var(--bFactor)));
      --yCoef_: calc(100 * (var(--wDiff) / var(--heightDiff) ) );

      --xP1_: calc(var(--wForMaxH) / (16 * var(--bFactor)));
      --xP2_: calc(var(--bHeight) / (1600 * var(--bFactor)));
      --xCoef_: calc(var(--xP1_) - (var(--yCoef_) * var(--xP2_)));

      --min_: calc(var(--wForMinH) * 1px);
      --max_: calc(var(--wForMaxH) * 1px);
  
      max-width: clamp(var(--min_), calc( var(--xCoef_)*1rem + var(--yCoef_)*1vh), var(--max_));

  }

  .margin_T_71_37 {

    --sMin: 37; /* smallest width size in pixels */
    --sMax: 71; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-top: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
   
  }

  .margin_L_85_37 {

    --sMin: 37; /* smallest width size in pixels */
    --sMax: 85; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-left: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
   

  }

  /* Media Query */

  @media only screen and (max-width: 630px) {
    .cwAlbumYear {
      display: none;
    }
    
    .cwContent{

    }

    .cwContainer{
        flex-direction: column;
        align-items: center;
    }

    .margin_L_85_37{
        margin-left: 0;
    }

    .cwImgContainer{
        margin-bottom: 1.30rem;
    }
  }

