.cContainer{
    width: 100%;
}

    .lcImgContainer{
    width: 100%;
    padding-top: 56%; /* H:W Aspect Ratio */
    position: relative; /* If you want text inside of it */
    background-color: inherit;

    }

    .pcImgContainer{
    width: 100%;
    padding-top: 100%; /* H:W Aspect Ratio */
    position: relative; /* If you want text inside of it */
    background-color: inherit;
    }

    .cImage{
    object-fit: cover;
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;

    pointer-events: none;
    }

    .link{
        pointer-events: none;

    }

    .cText{
        color: var(--beige);
        background-color: var(--orange-dark);
        width: 100%;
        height: fit-content;
        min-height: 2rem;
        display: flex;
        align-items: center;
        
    }

    .cText p{
        width: 100%;
        height: fit-content;
        text-align: center;
    }



