.mobileNavigation{
width: 100%;
}

    .menuClosed{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    height: 3.36rem;
    background-color: var(--orange-dark);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    }

    .menuOpened{
    display: flex;
    z-index: 500;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--orange-dark);
  }

    .blogMenuContainer{
    display: flex;
    z-index: 500;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }


    .blogMenuClosed{
      width:fit-content;
      height: fit-content;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      display: flex;
      z-index: 500;
      justify-content: center;
      align-items: center;
      position: static;
      background-color: var(--orange-dark);
      cursor: pointer;
    }

    .blogMenuClosed p {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    

    .homeContentContainer{
        height: 100vh;
        background-color: inherit;
    }

    .blogContentContainer{
      min-height: 100vh;
      height: fit-content;
      background-color: var(--beige);
      width: 100%;
  }

        .menuContent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: inherit;

        }

        .menuRodrigo{
        margin-right: 5.7692rem;
            
        }

        .hamburger{
            cursor: pointer;

        }
        .closebot{
            position: absolute;
            cursor: pointer;

            /* change later */
            right: 5%;
        }

        .closeNavTitle{
            color: var(--white);
        }

    
.navigation{
    display: none;
}


.width_432_360 {
    --wMin: 360; /* smallest width in pixels */
    --wMax: 432; /* largest width in pixels */
    
      --marDiff: calc(var(--wMax) - var(--wMin));
      --xCoefUp: calc( var(--wMin) * var(--screenDiff) - var(--marDiff) * var(--sScreen) );
      --xCoef: calc(var(--xCoefUp) / (16 * var(--screenDiff) ) );
      --yCoef: calc(100 * (var(--marDiff) / var(--screenDiff) ) );
  
    width: clamp(calc(var(--wMin) * 1rem / 16), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), calc(var(--wMax) * 1rem / 16));
   
    
  }

.marginR_31_42{

    --min: 42; /* margin left in the smallest screen (pixels)*/
    --max: 31; /* margin left in the biggest sreen (pixels) */
    
      --marDiff: calc(var(--max) - var(--min));
      --xCoefUp: calc( var(--min) * var(--screenDiff) - var(--marDiff) * var(--sScreen) );
      --xCoef: calc(var(--xCoefUp) / (16 * var(--screenDiff) ) );
      --yCoef: calc(100 * (var(--marDiff) / var(--screenDiff) ) );
  
    margin-left: clamp(calc(var(--max) * 1rem / 16), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), calc(var(--min) * 1rem / 16));

}

.right_240_0{

    --min: 0; 
    --max: 80;
    
      --marDiff: calc(var(--max) - var(--min));
      --xCoefUp: calc( var(--min) * var(--screenDiff) - var(--marDiff) * var(--sScreen) );
      --xCoef: calc(var(--xCoefUp) / (16 * var(--screenDiff) ) );
      --yCoef: calc(100 * (var(--marDiff) / var(--screenDiff) ) );
  
    right: clamp(calc(var(--min) * 1rem / 16), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), calc(var(--max) * 1rem / 16));

}

.paddingT_269_192 {

          /* calc max-width for a given height */
          --bHeight: 1117;
          --sHeight: 600;
          --heightDiff: calc(var(--bHeight) - var(--sHeight));
    
          --wForMaxH: 269;
          --wForMinH: 50;
    
          --wDiff: calc((var(--wForMaxH) * var(--sFactor)) - (var(--wForMinH) * var(--bFactor)));
          --yCoef_: calc(100 * (var(--wDiff) / var(--heightDiff) ) );
    
          --xP1_: calc(var(--wForMaxH) / (16 * var(--bFactor)));
          --xP2_: calc(var(--bHeight) / (1600 * var(--bFactor)));
          --xCoef_: calc(var(--xP1_) - (var(--yCoef_) * var(--xP2_)));
    
          --min_: calc(var(--wForMinH) * 1px);
          --max_: calc(var(--wForMaxH) * 1px);
      
          padding-top: clamp(var(--min_), calc( var(--xCoef_)*1rem + var(--yCoef_)*1vh), var(--max_));


   
  }



@media only screen and (orientation: portrait) {
    .menuRodrigo{
       display:none;
    } 

    .width_432_360{
      width: 100%;
    }

    .right_240_0{
      right: auto;
    }
  }