/* If changing these, make sure stores/breakpoints.ts values also match for consistency */
@custom-media --breakpoint-xsmall (min-width: 22.5rem); /* 360px */
@custom-media --breakpoint-small (min-width: 50rem); /* 768px */
@custom-media --breakpoint-medium (min-width: 64rem); /* 1024px */
@custom-media --breakpoint-large (min-width: 85.375rem); /* 1366px */
@custom-media --breakpoint-xlarge (min-width: 120rem); /* 1920px */
@custom-media --breakpoint-xxlarge (min-width: 160rem); /* 2560px */

:root{
/* Font families */
--font-notoserif: 'Noto Serif Display', -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;

/* colors */
--orange-dark: hsla(18, 92%, 43%, 1);
--orange-normal: hsla(29, 100%, 59%, 1);
--gray-light: hsla(0, 0%, 90%, 1);
--beige: hsla(34, 100%, 93%, 1);
--white: hsla(0, 0%, 100%, 1);
--black: hsla(0, 0%, 0%, 1);

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-notoserif);
  /* MacOS font smoothing */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  color: inherit;
  overflow-wrap: break-word;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  appearance: none;
  padding: 0;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

