.indexClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange-normal);
  }

    .homeCover{
        min-height: 100vh;
        width: 100%;
   
        background-image: url("/img/home-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: flex-end;

    }

    .album{
        min-height: 100vh;
        width: 100%;
        background-color: inherit;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

        .albumTitle{
            width: fit-content;
            color: var(--white);
        }

        .albumTitle h2{
            margin-bottom: 24px;
        }

        .albumImgContainer{
            width: 100%;
            padding-top: 68%; /* H:W Aspect Ratio */
            position: relative; /* If you want text inside of it */
            background-color: inherit;
            margin-top: 95px;
        }

        .albumImage{
            object-fit: cover;
            position: absolute;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: inherit;
        }

        .albumDescription{
            /* max-width: 648px;
            min-width: 207px; */
            width: 92%;
            text-align:left;

            margin-left: auto;
            margin-right: auto;
            
        }

        .bar{
            border-style: solid;
            border-color: var(--black);
            border-top-width: 2px;
            align-self: flex-start;
            margin-top: auto;
            
        }

    .works{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: inherit;
    }
        .works h2{
            color: var(--black);
            width: fit-content;
        }

        .worksCardsContainer{
            width: fit-content;
        
        }

    .about{
        min-height: 100vh;
        width: 100%;
   
        background-image: url("/img/about-bkg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .aboutContent{
            width: 100%;
            position: relative;
        }

        .aboutContent h2{
            color: var(--black);
        }

        .aboutContent p{
            margin-top: 1.58rem;
        }

        

    .blog{
        min-height: 100vh ;
        width: 100%;
        background-color: var(--beige);
    }

    .contact{
        min-height: 100vh ;
        width: 100%;
        background-color: var(--orange-dark);
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .contactContent{
            width: 100%;
            display:flex;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
    
        }

        .contactContent > h2 {
            padding: 4.66rem;
        }

        .contactContent > ul {
            padding: 4.66rem;

        }

        .contacList{
            color: var(--white);
            
        }

    .footer{
        width: 100%;
        margin: 0 auto;
        background-color: cadetblue;
    }

/* Clamps */
.margin_B_240_275 {

    --sMin: 275; /* smallest width size in pixels */
    --sMax: 240; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-bottom: clamp(var(--max), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--min));
   
  }

.height_97_143{
    --sMin: 143; /* smallest width size in pixels */
    --sMax: 93; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      height: clamp(var(--max), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--min));
   

}

  .margin_BT_102_78 {

    --sMin: 78; /* smallest width size in pixels */
    --sMax: 102; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-bottom: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
      margin-top: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
   
  }

  .margin_T_51_93 {

    --sMin: 93; /* smallest width size in pixels */
    --sMax: 51; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-top: clamp(var(--max), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--min));
   
  }

  .margin_B_42_102 {

    --sMin: 42; /* smallest width size in pixels */
    --sMax: 102; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-bottom: clamp(var(--max), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--min));
   
  }

  .margin_T_253_170{
    --sMin: 170; /* smallest width size in pixels */
    --sMax: 253; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      top: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
  }

  .margin_L_933_150{
    --sMin: 90; /* smallest width size in pixels */
    --sMax: 933; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      margin-left: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
  }

  .width_581_237{
    --sMin: 237; /* smallest width size in pixels */
    --sMax: 581; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      width: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
  }



  .width_842_360{
    --sMin: 360; /* smallest width size in pixels */
    --sMax: 842; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      width: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
  }

  .width_986_432{
    --sMin: 300; /* smallest width size in pixels */
    --sMax: 748; /* largest width size in pixels */
    
      --fontDiff: calc((var(--sMax) * var(--sFactor)) - (var(--sMin) * var(--bFactor)));
      --yCoef: calc(100 * (var(--fontDiff) / var(--screenDiff) ) );

      --xP1: calc(var(--sMax) / (16 * var(--bFactor)));
      --xP2: calc(var(--bScreen) / (1600 * var(--bFactor)));
      --xCoef: calc(var(--xP1) - (var(--yCoef) * var(--xP2)));

      --min: calc(var(--sMin) * 1px);
      --max: calc(var(--sMax) * 1px);
  
      width: clamp(var(--min), calc( var(--xCoef)*1rem + var(--yCoef)*1vw), var(--max));
  }

  /* Media Query */
 

  @media only screen and (max-width: 938px) {
    .contact{
        align-items: flex-start;
        padding-top: 3rem;
    }
  }

  @media only screen and (max-width: 490px) {
    .contactContent > h2{
        display: none;
    }

    .contactContent > ul {
        padding: 3.5rem;

    }
  }