.orangeDarkBot{
    background-color: var(--orange-dark);
    border-color: var(--gray-light);
    color: var(--white);
}

.orangeNormalBot{
    background-color: var(--orange-normal);
    border-color: var(--black);
    color: var(--black);
}

.bkgOrangeDark{
    background-color: var(--orange-dark);
}

.bkgBlack{
    background-color: var(--black);
}

.bkgBeige{
    background-color: var(--beige);
}

.orangeDarkfont{
    color: var(--orange-dark);
}

.beigeFont{
    color:var(--beige);
}

.blackFont{
    color:var(--black);
}
.whiteFont{
    color:var(--white);
}

/* SWITCH */
.switch {
    width: 56px;
    height: 33px;
    border-radius: 33px;
    padding: 3px;
    display: flex;
    cursor: pointer;
  }
  
  .switch.on {
    background-color:var(--orange-normal);
    justify-content: flex-end;
  }
  
  .switch.off {
    background-color: #dddddd;
    justify-content: flex-start;
  }
  
  .switch div {
    width: 26px;
    height: 26px;
    background-color: var(--black);
    border-radius: 66px;
    box-shadow: 1px 2px 3px var(--white);
  }